<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="monteverde" flow-init> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="monteverde" flow-init> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="monteverde" flow-init> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es" ng-app="monteverde" flow-init> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Monteverde</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/libs/libraries.min.css">
        <link rel="stylesheet" href="/stylesheets/monteverde.min.css">

    </head>
    <body flow-prevent-drop>

      <div class="container-fluid panel panel-default main-app" ng-controller="monteverdeCtrl">

        <header class="row">

          <div class="col-sm-12 text-left">
            <div class="navbar-text navbar-left">
              <img src="/images/LOGO_MONTEVERDE.png" width="30%" alt="logo">
            </div>
          </div>

          <!-- <div class="col-sm-10">
            <h1>Monteverde</h1>
          </div> -->

        </header>

        <nav class="nav navbar navbar-default">
          <div class="container-fluid">
            <span class="navbar-text">Usuario: \{{user.name}}</span>
            <button type="button" class="btn btn-danger navbar-btn navbar-right" ng-click="logout('login')">Cerrar Sesi&oacute;n</button>
          </div>
        </nav>

        <div class="row">
          <div class="col-sm-12">
            <alert style="\{{alert.destroy}}" ng-repeat="alert in alerts" type="\{{alert.type}}" close="closeAlert($index, this.alert)">
              \{{alert.msg}}
            </alert>
          </div>  
        </div>
          
        <div class="row ">
            <nav class="col-sm-12" ng-if="userLogged">
              <ul class="nav nav-tabs">
                <li ng-class="{ active: isActive('/createSvc')}"><a href ui-sref="createSvc">Configurar Servicio</a></li>
                <li ng-class="{ active: isActive('/scheduleSvc')}"><a href ui-sref="scheduleSvc">Programar Servicio</a></li>
                <li ng-class="{ active: isActive('/runSvc')}"><a href ui-sref="runSvc">Ejecutar Servicio</a></li>
                <li ng-class="{ active: isActive('/reportSvc')}"><a href ui-sref="reportSvc">Reporte de Servicios</a></li>
                <li ng-class="{ active: isActive('/createTrip')}"><a href ui-sref="createTrip">Crear Viaje</a></li>
	              <li ng-class="{ active: isActive('/tripReport')}"><a href ui-sref="tripReport">Reporte de Viajes</a></li>
              </ul>
            </nav>
        </div>
        <br>
        <div class="row panel-body">           
            <div ng-class="col-sm-11">
              <div class="container-fluid">
                <div class="row" ui-view >
                  {{{body}}}
                </div>
              </div>
            </div>
        </div>
      </div>

      <script src="/javascripts/vendors/libraries.js"></script>
      <script src="/javascripts/all.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
    </body>
</html>


